html {
    font-family: "IBM Plex Mono", monospace;
    scroll-behavior: smooth;
}

.btnFlotante {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 1rem;
    z-index: 1000;

}

.enlaces {
    display: flex;
    width: 15rem;
    height: 100%;
    position: fixed;


    li {
        list-style: none;

        a {
            position: relative;
            display: block;
            text-transform: uppercase;
            margin: 20px 0;
            padding: 10px 20px;
            text-decoration: none;
            color: #ffffff;
            transition: .5s;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-top: 4px solid #ccd3cb;
                border-bottom: 4px solid #ccd3cb;
                transform: scaleY(2);
                opacity: 0;
                transition: .3s;
            }

            &:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #1f42a1e7;
                transform: scale(0);
                opacity: 0;
                transition: .3s;
                z-index: -1;
            }

            &:hover {
                color: #f7f7f7;

                &:before {
                    transform: scaleY(1);
                    opacity: 1;
                }

                &:after {
                    transform: scaleY(1);
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .menuDesplegable {
        right: 0;
        top: 3rem;
        width: auto;
        height: auto;
        background-color: #000;
        position: fixed;
        padding: 1rem;
        z-index: 2;


        li {
            display: flex;
            margin-top: 1rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;

            a {
                padding: 10px;
                color: #fff;
                width: 100%;
                background-color: #333;

                &:before,
                &:after {
                    border: none;
                    background: none;
                }

                &:hover {
                    background-color: #444;
                }
            }
        }
    }
}

.menuAnimacion {
    -webkit-animation: menuAnimacion 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: menuAnimacion 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes menuAnimacion {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes menuAnimacion {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
}

.console-container {
    font-size: 4em;
    height: 150px;
    width: 800px;
    color: white;
}

@media (max-width: 640px) {
    .console-container {
        font-size: 2em;
        height: 50px;
        width: 150px;
        margin: 1rem;
        margin-top: 10rem;

    }
}



.navbar {
    z-index: 3;
}

/* -----------------ICONOS REDES Y ANIMACION --------------*/

.iconosRedes {
    display: flex;
}

.iconosRedes li {
    list-style: none;
}

.iconosRedes li a {
    width: 50px;
    height: 50px;
    background-color: #dad4d4;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 2;
}

.iconosRedes li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.iconosRedes li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.iconosRedes li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.iconosRedes li a:hover:before {
    top: 0;
}

.iconosRedes li:nth-child(1) a:before {
    background: #0077b5;
}

.iconosRedes li:nth-child(2) a:before {
    background: #282e88;
}